img { 
    max-width:100%; 
    height:auto; 
}

a {
    text-decoration: none;
}




.logo {
    width: 100%;
}

.mainview {
    width: 100%;
}

.title {
    width: 100%;
    margin-top: 10px;
}

.ash {
    width: 100%;
}

.salon01 {
    width: 100%;
}

.salon01_hp {
    width: 100%;
    margin-bottom: 40px;
}

.truth {
    width: 100%;
}

.salon02 {
    width: 100%;
}

.salon02_hp {
    width: 100%;
    margin-bottom: 40px;
}

.image-a {
    width: 100%;
}

.salon03 {
    width: 100%;
}

.salon03_hp {
    width: 100%;
    margin-bottom: 20px;
}



.back_button {
    width: 100%;
}